---
title: A.f Bois - Communication
---

<div class="height"></div>

<div class="wrapper prestations">
  <div class="container">
    <h2 class="text-center"><span class="shadow-inset-pink">Communication</span></h2>
    <div class="row">

      <div class="col-xs-12 col-md-9 col-md-offset-2">
        <div class="flexbox space-around vertical-center margin-30">
          <%= image_tag "typewriter.png", class:"icon-presta" %>
          <div class="content">
            <h4><span class="shadow-inset">Rédaction</span></h4>
            <p>Création de fiches techniques d'aide à la vente</p>
            <p>Rédaction de lettres d'information (certification, bois tropicaux, etc)</p>
            <p>Fiches "bonnes pratiques"</p>
            <p>Brochures techniques (textes et mise en forme)</p>
            <p>Guide d'aide à la prescription des ouvrages</p>
            <p>Rédactionnel pour la presse professionnelle</p>
            <p>Rédaction de livres de technologie du bois</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-9 col-md-offset-1">
        <div class="flexbox space-around vertical-center margin-30">
          <div class="content">
            <h4><span class="shadow-inset">Formation</span></h4>
            <p>La gestion durable des forêts, comment ça marche ?</p>
          </div>
          <%= image_tag "worker.png", class:"icon-presta" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper light-gray">
  <div class="container">
    <div class="row">
      <!-- 3D SECTION -->
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="card-3d margin-top-25">
          <%= image_tag "earth.png", class:"pastille" %>
          <h4><span class="shadow-inset-pink">Démarche de Développement Durable</span></h4>
          <p><i class="fa fa-check" aria-hidden="true"></i> Expliquer le développement durable</p>
          <p><i class="fa fa-check" aria-hidden="true"></i> Elaboration d'étiquette environnementale</p>
          <p><i class="fa fa-check" aria-hidden="true"></i> Argumentaires sur les impacts positifs sur l'environnement de l'usage du bois</p>
          <p><i class="fa fa-check" aria-hidden="true"></i> Création de visuel graphique</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <!-- IMAGE SECTION -->
      <div class="col-xs-12">
        <div class="text-center">
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "com1.jpg", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "com2.jpg", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "com3.jpg", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "com4.jpg", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "com5.jpg", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "com6.jpg", class:"img-presta" %></div>
        </div>
        <div class="text-center margin-top-25">
          <% link_to "/", class: "btn button" do %>
            Retour à l'accueil
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
