---
title: AF BOIS - Communication
---

<div class="height"></div>

<div class="wrapper linear-gray prestations">
  <div class="container">
    <h2 class="text-center text-shadow-pink">Communication</h2>
    <div class="row margin-top-25">
      <div class="flexbox vertical-center">
        <div class="col-xs-12 col-md-7">
          <h4><span class="shadow-inset">Rédaction</span></h4>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Rédaction de lettres d'information (certificatioon, bois tropicaux, etc)</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Brochures techniques (textes et mise en forme)</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Rédactionnel pour la presse professionnelle</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Rédaction de livres de technologie du bois</p></li>
          </ul>
          <h4><span class="shadow-inset">Conseil</span></h4>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Mise en relation avec la presse professionnelle</p></li>
          </ul>
          <h4><span class="shadow-inset">Formation</span></h4>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> La gestion durable des forêts, comment ça marche ?</p></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="card-3d">
            <div class="pastille">3D</div>
            <h4><span class="shadow-inset-pink">Démarche de Développement Durable</span></h4>
            <ul class="list-unstyled">
              <li><i class="fa fa-check" aria-hidden="true"></i> Expliquer le développement durable</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Elaboration d'étiquette environnementale</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Argumentaires sur les impacts positifs sur l'environnement de l'usage du bois</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Création de visuel graphique</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center margin-top-25">
        <%= image_tag "com1.jpg", class:"img-presta" %>
        <%= image_tag "com2.jpg", class:"img-presta" %>
        <%= image_tag "com3.jpg", class:"img-presta" %>
        <%= image_tag "com4.jpg", class:"img-presta" %>
        <%= image_tag "com5.jpg", class:"img-presta" %>
        <%= image_tag "com6.jpg", class:"img-presta" %>
      </div>
      <div class="text-center">
        <% link_to "/", class: "btn button" do %>
          <i class="fa fa-home" aria-hidden="true"></i> Retour à l'accueil
        <% end %>
      </div>
    </div>
  </div>
</div>
