---
title: A.f Bois - Etudes
---

<div class="height"></div>

<div class="wrapper linear-gray prestations">
  <div class="container">
    <h2 class="text-center text-shadow-pink">Etudes</h2>
    <div class="row margin-top-25">
      <div class="flexbox vertical-center">
        <div class="col-xs-12 col-md-7">
          <h4><span class="shadow-inset">Etudes</span></h4>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Déploiement de démarche de développement durable</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Etude de prospective</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Diagnostic de développement de filières bois régionales</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Etudes du développement des marchés de produits bois certifiés du Bassin du Congo</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Etude de la sous-traitance de spécialités en ameublement</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Participation à des séminaires et des commissions professionnelles de normalisation</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Assistance technique auprès des administrations publiques</p></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="card-3d">
            <div class="pastille">3D</div>
            <h4><span class="shadow-inset-pink">Démarche de Développement Durable</span></h4>
            <ul class="list-unstyled">
              <li><i class="fa fa-check" aria-hidden="true"></i> Créer des partenariats</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Promouvoir les essences de bois secondaires</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Participation à la rédaction de normes environnementales</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Indicateur de protection de la biodiversité du bois écocertifié</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center margin-top-25">
        <%= image_tag "etude1.jpg", class:"img-presta" %>
        <%= image_tag "etude3.jpg", class:"img-presta" %>
        <%= image_tag "etude4.jpg", class:"img-presta" %>
        <%= image_tag "etude5.jpg", class:"img-presta" %>
        <%= image_tag "etude6.jpg", class:"img-presta" %>
      </div>
      <div class="text-center">
        <% link_to "/", class: "btn button" do %>
          <i class="fa fa-home" aria-hidden="true"></i> Retour à l'accueil
        <% end %>
      </div>
    </div>
  </div>
</div>
