---
title: A.f Bois - Etudes
---

<div class="height"></div>

<div class="wrapper prestations">
  <div class="container">
    <h2 class="text-center"><span class="shadow-inset-pink">Etudes</span></h2>
    <div class="row">

      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="flexbox space-around vertical-center margin-30">
          <%= image_tag "search.png", class:"icon-presta" %>
          <div class="content">
            <h4><span class="shadow-inset">Etudes</span></h4>
            <p>Déploiement de démarche de développement durable</p>
            <p>Etude de prospective</p>
            <p>Diagnostic de développement de filières bois régionales</p>
            <p>Etudes du développement des marchés de produits bois certifiés du Bassin du Congo</p>
            <p>Etude de la sous-traitance de spécialités en ameublement</p>
            <p>Participation à des séminaires et des commissions professionnelles de normalisation</p>
            <p>Assistance technique auprès des administrations publiques</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper light-gray">
  <div class="container">
    <div class="row">
      <!-- 3D SECTION -->
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="card-3d margin-top-25">
          <%= image_tag "earth.png", class:"pastille" %>
          <h4><span class="shadow-inset-pink">Démarche de Développement Durable</span></h4>
          <p><i class="fa fa-check" aria-hidden="true"></i> Créer des partenariats</p>
          <p><i class="fa fa-check" aria-hidden="true"></i> Promouvoir les essences de bois secondaires</p>
          <p><i class="fa fa-check" aria-hidden="true"></i> Participation à la rédaction de normes environnementales</p>
          <p><i class="fa fa-check" aria-hidden="true"></i> Indicateur de protection de la biodiversité du bois écocertifié</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <!-- IMAGE SECTION -->
      <div class="col-xs-12">
        <div class="text-center">
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "etude1.jpg", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "etude3.jpg", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "etude4.jpg", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "etude5.jpg", class:"img-presta" %></div>
        </div>
        <div class="text-center margin-top-25">
          <% link_to "/", class: "btn button" do %>
            Retour à l'accueil
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
