---
title: A.f Bois
---

<div class="banner" id="home" style="background-image: linear-gradient(-225deg, rgba(255, 196, 146, 0.3) 20%, rgba(36, 43, 47, 0.4) 70%), url('../images/banner.jpeg');">
  <div class="height"></div>
  <div class="banner-content">
    <h1>A.<span class="italic light font-size-50">f</span>&nbsp Bois</h1>
    <h3>Une approche globale + la vision + l'opérationnel</h3>
  </div>
</div>

<div class="wrapper light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="">
        <h2 class="text-center text-shadow-pink">Prestations</h2>
        <hr class="horizontal-line gray">
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-banner">
            <% link_to "production.html" do %>
              <h3>Production</h3>
            </div>
            <div class="slide-up">
              <div class="box">

                <div class="original">
                  <ul class="list-unstyled">
                    <li><p>Le matériau-bois a ses raisons ...</p></li>
                  </ul>
                </div>

                <div class="overlay flexbox column">
                  <p>+ d'infos</p>
                </div>

              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-banner">
            <% link_to "developpement.html" do %>
              <h3>Communication</h3>
            </div>
              <div class="slide-up">
              <div class="box">

                <div class="original">
                  <ul class="list-unstyled">
                    <li><p>Faire-savoir les savoir-faire ...</p></li>
                  </ul>
                </div>

                <div class="overlay flexbox column">
                  <p>+ d'infos</p>
                </div>

              </div>
            </div>
              <% end %>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-banner">
            <% link_to "mix-marketing.html" do %>
              <h3>Mix-Marketing</h3>
            </div>
              <div class="slide-up">
              <div class="box">

                <div class="original">
                  <ul class="list-unstyled">
                    <li><p>Penser les produits dans leurs marchés ...</p></li>
                  </ul>
                </div>

                <div class="overlay flexbox column">
                  <p>+ d'infos</p>
                </div>

              </div>
            </div>
              <% end %>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="card-banner">
            <% link_to "communication.html" do %>
              <h3>Développement</h3>
            </div>
              <div class="slide-up">
              <div class="box">

                <div class="original">
                  <ul class="list-unstyled">
                    <li><p>Les produits de demain sont à penser aujourd’hui ...</p></li>
                  </ul>
                </div>

                <div class="overlay flexbox column">
                  <p>+ d'infos</p>
                </div>

              </div>
            </div>
              <% end %>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card">
            <div class="card-banner">
            <% link_to "etudes.html" do %>
              <h3>Etudes</h3>
            </div>
              <div class="slide-up">
              <div class="box">

                <div class="original">
                  <ul class="list-unstyled">
                    <li><p>Réfléchir globalement pour agir... finement</p></li>
                  </ul>
                </div>

                <div class="overlay flexbox column">
                  <p>+ d'infos</p>
                </div>

              </div>
            </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper light-gray">
  <div class="container">
    <div class="row">
      <h2 class="text-center text-shadow-pink">A propos</h2>
      <hr class="horizontal-line gray">
      <div class="col-xs-12 col-md-8 justified" id="about">
        <h3>Tel un arbre …</h3>
        <p>L'<strong>image de l'arbre</strong> est utilisée depuis longtemps pour représenter le <strong>fonctionnement du vivant</strong> : arbre généalogique, arbre de l'éternité, arbre de vie, …</p>
        <p>Il y a de cela dans les technologies et les entreprises, qui évoluent et se transforment continuellement. Comme un arbre, elles doivent être nourries (les racines), se dresser dans la compétition du vivant (le tronc), et s’adapter au contexte (le houppier).</p>
        <p>L’arbre est une façon - comme une autre - de décrire simplement toute entreprise :
          <ul>
            <li>Les <strong>racines</strong> sont le lieu du savoir, de la connaissance des bonnes pratiques : elles nourrissent le tronc et les branches.</li>
            <li>Le <strong>tronc</strong> - par sa robustesse et sa rectitude relative - représente la structure et les équipements permanents de production : il croît en diamètre chaque année, selon le milieu ambiant.</li>
            <li>Les <strong>branches</strong> représentent les marchés et les produits finis : elles peuvent tomber, végéter tel un broussin, fléchir sous le vent ou former un magnifique houppier.</li>
          </ul>
        </p>
        <p>L’<strong>arbre A.f BOIS</strong> croît doucement depuis plus de 25 ans, le <strong>bois-matériau</strong> étant, depuis toujours, le fil conducteur de mon activité.</p>
        <p>Frédéric Anquetil</p>
        <p class="legend">Plus de 35 années d’expérience au service du bois, dont plus de 25 en tant que consultant indépendant.</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "arbre.png", id:"arbre" %>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="slider">
          <div class="slide_viewer">
            <div class="slide_group">
              <div class="slide">
                <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i>
                <p>« L’homme est le plus petit roseau, mais un roseau pensant. »<br><strong>Pascal</strong></p>
              </div>
              <div class="slide">
                <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i>
                <p>" L'arbre tombe toujours du côté où il penche "<br><strong>Proverbe Français</strong></p>
              </div>
              <div class="slide">
                <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i>
                <p>" La patience est un arbre dont la racine est amère, et dont les fruits sont très doux. "<br><strong>Proverbe Persan</strong></p>
              </div>
              <div class="slide">
                <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i>
                <p>" ...le vent ne parle pas plus doucement au chêne géant qu'au plus infime des brins d'herbe... "<br><strong>Khalil Gibran</strong></p>
              </div>
            </div>
          </div>
        </div><!-- End // .slider -->

        <div class="slide_buttons">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper green color-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="work">
        <h2 class="text-center text-shadow-gray">Brindilles</h2>
        <hr class="horizontal-line white">
          <% data.works.each do |work, infos| %>
            <div class="col-xs-12 col-md-6 text-center">
              <a data-toggle="modal" data-target="#<%= work %>" class="works">
                <%= image_tag infos.picture, class:"marged" %>
              </a>
            </div>
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" id="<%= work %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%= infos.name %></h4>
                  </div>
                  <div class="modal-body">
                    <iframe src="/pdf/<%= infos.pdf %>#view=FitH" style="width:100%; height:70vh;" frameborder="0"></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn button" data-dismiss="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="customers">
      <h2 class="text-center text-shadow-pink">Clients</h2>
      <hr class="horizontal-line gray">
        <% data.customers.each do |customer, infos| %>
          <div class="col-xs-12 col-sm-6 col-md-4 text-center">
            <%= image_tag infos.picture, class:"customer" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="wrapper light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="contact">
        <h2 class="text-center text-shadow-pink">Contact</h2>
        <hr class="horizontal-line gray">
        <div class="col-xs-12 col-md-4">
          <div class="contact-card">
            <p><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><br>A.F. Bois - Frédéric Anquetil<br>29 Rue des Meuniers<br> 94300 Vincennes - France</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="contact-card">
            <p><i class="fa fa-mobile vertical-align-middle" aria-hidden="true"></i> +33 (0)6 81 81 97 98<br><i class="fa fa-phone vertical-align-middle" aria-hidden="true"></i> +33 (0)1 48 08 29 68<br><i class="fa fa-envelope vertical-align-middle" aria-hidden="true"></i> <%= mail_to 'anquetilf@wanadoo.fr', "anquetilf@wanadoo.fr" %><br><i class="fa fa-linkedin" aria-hidden="true"></i> <%= link_to 'Me retrouver sur Linkedin', 'https://fr.linkedin.com/in/frédéric-anquetil-2b148068', target:"_blank"%></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="contact-card">
            <p>Siret : 379 658 792 00021<br>TVA intracom : FR60379658792<br>Urssaf : 452058431<br>N° formateur : 1194028079</p>
          </div>
        </div>
        <div class="col-xs-12">
          <p class="legend text-center">A.f BOIS s’engage à préserver la confidentialité des travaux, par contrat si nécessaire. En cas de risque de conflit d’intérêts vis-à-vis de ses clients « historiques », A.f  BOIS se donne le droit de ne pas faire suite à certaines offres de mission. En fonction des missions, A.f  BOIS s’entoure d’experts, et en informe au préalable ses clients.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  ;( function( $ ) {

    $( '.swipebox' ).swipebox();

  } )( jQuery );

  $("#about-click").click(function() {
      $('html,body').animate({
          scrollTop: $("#about").offset().top - 175},
          'slow');
  });

  $("#work-click").click(function() {
      $('html,body').animate({
          scrollTop: $("#work").offset().top - 80},
          'slow');
  });

  $("#customers-click").click(function() {
      $('html,body').animate({
          scrollTop: $("#customers").offset().top - 80},
          'slow');
  });

  $("#contact-click").click(function() {
      $('html,body').animate({
          scrollTop: $("#contact").offset().top - 80},
          'slow');
  });

  $('.slider').each(function() {
    var $this = $(this);
    var $group = $this.find('.slide_group');
    var $slides = $this.find('.slide');
    var bulletArray = [];
    var currentIndex = 0;
    var timeout;

    function move(newIndex) {
      var animateLeft, slideLeft;

      advance();

      if ($group.is(':animated') || currentIndex === newIndex) {
        return;
      }

      bulletArray[currentIndex].removeClass('active');
      bulletArray[newIndex].addClass('active');

      if (newIndex > currentIndex) {
        slideLeft = '100%';
        animateLeft = '-100%';
      } else {
        slideLeft = '-100%';
        animateLeft = '100%';
      }

      $slides.eq(newIndex).css({
        display: 'block',
        left: slideLeft
      });
      $group.animate({
        left: animateLeft
      }, function() {
        $slides.eq(currentIndex).css({
          display: 'none'
        });
        $slides.eq(newIndex).css({
          left: 0
        });
        $group.css({
          left: 0
        });
        currentIndex = newIndex;
      });
    }

    function advance() {
      clearTimeout(timeout);
      timeout = setTimeout(function() {
        if (currentIndex < ($slides.length - 1)) {
          move(currentIndex + 1);
        } else {
          move(0);
        }
      }, 8000);
    }

    $('.next_btn').on('click', function() {
      if (currentIndex < ($slides.length - 1)) {
        move(currentIndex + 1);
      } else {
        move(0);
      }
    });

    $('.previous_btn').on('click', function() {
      if (currentIndex !== 0) {
        move(currentIndex - 1);
      } else {
        move(3);
      }
    });

    $.each($slides, function(index) {
      var $button = $('<a class="slide_btn">&bull;</a>');

      if (index === currentIndex) {
        $button.addClass('active');
      }
      $button.on('click', function() {
        move(index);
      }).appendTo('.slide_buttons');
      bulletArray.push($button);
    });

    advance();
  });
});
</script>
