---
title: A.f Bois - Mix-Marketing
---

<div class="height"></div>

<div class="wrapper prestations">
  <div class="container">
    <h2 class="text-center"><span class="shadow-inset-pink">Mix-Marketing</span></h2>
    <div class="row">

      <div class="col-xs-12 col-md-8">
        <div class="content top25">
          <h4><span class="shadow-inset">Conseil</span></h4>
          <p>Etude de marché (quantitative ou qualitative)</p>
          <p>Analyse de positionnement prix/produits/canaux, mapping</p>
          <p>La fenêtre en bois dans le Bassin du Congo</p>
          <p>La segmentation des marchés</p>
          <p>Complémentarité bois tropicaux et bois métropolitains (issus de la gestion durable des forêts)</p>
          <h4 class="top20"><span class="shadow-inset">Formation</span></h4>
          <p>Le mix-marketing des nouveautés</p>
          <p>Cycle de vie commercial des collections</p>
          <p>Initiation à l'analyse de la valeur</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card-3d top25">
          <%= image_tag "earth.png", class:"pastille" %>
          <h4><span class="shadow-inset-pink">Démarche de Développement Durable</span></h4>
          <p><i class="fa fa-check" aria-hidden="true"></i> Définition de méthode de suivi des chaînes de contrôle de bois écocertifiés</p>
          <p><i class="fa fa-check" aria-hidden="true"></i> Choix d'essences en gestion soutenable</p>
          <p><i class="fa fa-check" aria-hidden="true"></i> Veille concurrentielle des stratégies environnementales</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper light-gray">
  <div class="container">
    <div class="row">
      <!-- IMAGE SECTION -->
      <div class="col-xs-12">
        <div class="text-center hidden-xs">
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "mark1.png", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "mark2.png", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "mark3.png", class:"img-presta" %></div>
          <div class="col-xs-12 col-sm-6 col-md-3"><%= image_tag "mark4.png", class:"img-presta" %></div>
        </div>
        <div class="text-center top25">
          <% link_to config[:host], class: "btn button" do %>
            Retour à l'accueil
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
